body{
	font-family: 'Open Sans', sans-serif;
	background-color: #EFEFEF;
}

header {
	background-color: #2B2B2B;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


ul{
	display: inline-block;
	margin-left: 10px;
	padding-left: 0px;
	margin-bottom: 20px;
}

.icon{
	height:13px;
	width: 13px;
	margin-right: 8px;
}

li{
	display: inline;
	color: #6F6F6F;
	margin-right: 30px;
	margin-left: 10px;
}

li:hover{
	color: #FFFFFF;
}

main{
	margin-left: 10px;
}

h1{
	font-weight: 400;
}

section.videocontainer{
	display:flex;
	flex-wrap: wrap;
	width: 200px;
}

section.top{
	height: 100px;
	width: 200px;
	background-image: url("images/placeholderarticle.jpg");
	background-size: contain;
}



p.dropdown{
	color: #2A6588;
	font-size: 12px;
}

p.dropdown:hover{
	color: #FFFFFF;
}